@font-face {
    font-family: AtlasGrotesk-Black;
    font-weight: bold;
    font-style: normal;
    src: url("fonts/AtlasGrotesk-Black.otf") format("opentype");
}

@font-face {
    font-family: AtlasGrotesk-BlackItalic;
    font-weight: bold;
    font-style: italic;
    src: url("fonts/AtlasGrotesk-BlackItalic.otf") format("opentype");
}

@font-face {
    font-family: AtlasGrotesk-Light;
    src: url("fonts/AtlasGrotesk-Light.otf") format("opentype");
}

@font-face {
    font-family: AtlasGrotesk-LightItalic;
    src: url("fonts/AtlasGrotesk-LightItalic.otf") format("opentype");
}

@font-face {
    font-family: AtlasGrotesk-Medium;
    src: url("fonts/AtlasGrotesk-Medium.otf") format("opentype");
}

@font-face {
    font-family: AtlasGrotesk-MediumItalic;
    src: url("fonts/AtlasGrotesk-MediumItalic.otf") format("opentype");
}

@font-face {
    font-family: AtlasGrotesk-Regular;
    font-weight: regular;
    font-style: normal;
    src: url("fonts/AtlasGrotesk-Regular.otf") format("opentype");
}

@font-face {
    font-family: AtlasGrotesk-RegularItalic;
    font-weight: regular;
    font-style: italic;
    src: url("fonts/AtlasGrotesk-RegularItalic.otf") format("opentype");
}

@font-face {
    font-family: AtlasGrotesk-Thin;
    src: url("fonts/AtlasGrotesk-Thin.otf") format("opentype");
}

@font-face {
    font-family: AtlasGrotesk-ThinItalic;
    src: url("fonts/AtlasGrotesk-ThinItalic.otf") format("opentype");
}


* {
    font-family: AtlasGrotesk-Regular, sans-serif;
}
strong, #bold {
    font-weight: bold;
}